.title-prize {
    color: #f00;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 20px;
}
.logo-info {
    margin-top: 10px;
    text-align: justify;
    font-weight: 550;
    line-height: 20px;
    font-size: 17px;
}
