<div class="logo-info">
Trimble thành lập năm 1978 - Mỹ, là một thương hiệu nổi tiếng trong các thiết bị và phần mềm dùng trong khảo sát đất đai, xây dựng, lập bản đồ và đặc biệt là định vị vệ tinh
<br>
Các sản phẩn của Trimble được sử dụng tại hơn 150 quốc gia trên thế giới, trong đó có Việt Nam.
<br>
Năm 2017, Đất Hợp là đơn vị chính thức đại diện uỷ quyền với các dòng sản phẩm khảo sát và định vị tại Việt Nam.
</div>