<div class="logo-info">
Yamayod được thành lập năm 1906, là công ty chuyên sản xuất các thiết bị đo lường dẫn đầu trên thế giới với phương châm "Đo lường thế giới với chiều dài đáng tin cậy".
<br>
Các sản phẩm đo lường của Yamayo đa dạng, bền bỉ và chính xác như thớc đó mực nước ngầm, thước thép, thước sợi thuỷ tinh, bánh xe đo dài,...
<br>
Đất Hợp là đơn vị nhập khẩu và phân phối chính thức tại Việt Nam
</div>